- name: Check conga_environment variable.
  fail:
    msg: 'CONGA target environment is undefined'
  when: conga_environment is undefined

- block:
  - name: Set CONGA base directory.
    set_fact:
      conga_basedir: "{{ conga_maven_git_root }}/{{ conga_maven_root }}"

  - name: Create git root.
    file:
      path: "{{ conga_maven_git_root }}"
      state: directory

  - name: Clone CONGA configuration repository.
    git:
      repo: "{{ conga_maven_git_repo }}"
      dest: "{{ conga_maven_git_root }}"
      version: "{{ conga_maven_git_branch|default(omit) }}"
      force: yes
      accept_hostkey: true
  when: conga_maven_git_repo is defined

- name: Build Maven command line.
  set_fact:
    _mvn_cmdline: "{{ conga_maven_cmd }} {{ conga_maven_opts }} compile"

- name: Add custom Maven settings.
  set_fact:
    _mvn_cmdline: "{{ _mvn_cmdline }} --settings={{ conga_maven_settings }}"
  when: conga_maven_settings is defined and conga_maven_settings

- name: Add Maven Vault password file.
  set_fact:
    _mvn_cmdline: "{{ _mvn_cmdline }} -Dansible.vault.password.file={{ conga_maven_vault_password_file }}"
  when: conga_maven_vault_password_file is defined and conga_maven_vault_password_file

- name: Compile CONGA configuration with Maven.
  shell: "set -o pipefail; {{ _mvn_cmdline }} | tee mvn.log"
  args:
    chdir: "{{ conga_basedir }}"
    executable: "/bin/bash"
  tags:
    - conga-maven-compile
    - skip_ansible_lint

- name: Set fact that CONGA configuration was generated
  set_fact: conga_configuration_generated=true